

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding: 0 !important;
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 50px;
}
  
.navbar-nav li {
    padding: 0 10px;
}
    
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

/*----------------banner section-------------*/

#banner{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color:#fff;
    padding-top:  0%;
    padding-bottom: 0%;
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    text-align: center;
}
.promo-title2{
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;
}
.img-fluid{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    float: right;
    width: 100px;
    
}

img.img-fluid{
    width: 400px;
}


.personal-image{
    height: 210px;
    float: left;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
    top: 20px;
}


.About{

    position: absolute;
    background-color: grey;
    padding: 30px;
    margin: 20px 20px 50px;
}
    
.Personal-Image{
    width: 100px;
    height: 100px;
    margin: 50px 0 0 50px;
}    



#aboutMe, #work, #contact {
    border: 1px solid black;
    height: 30vh;
}

#work{
   border: 1px solid black;
   height: 100vh;
}

#contact{
    border: 1px solid black;
    height: 20vh;
}

#aboutMe{
    display: flex;
    flex-wrap: wrap;
    background-image: url("../assests/images/AD2C042D-E2C7-4C98-9E0E-68CDCE584045_1_105_c.jpeg");
    background-position: 0px -350px ;
    background-size: cover;
    padding-bottom: 30px;

}


.section-title{
    flex-basis: 20%;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
}


.section-content{
    flex-basis: 80%;
}
 img.bottom-img{
   position: relative;
   bottom: 500px;
}
