

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}
header{
    
    

    
    
}

.About{
    position: absolute;
    background-color: grey;
    padding: 30px;
    margin: 20px 20px 50px;
}
    
.Personal-Image{
    width: 100px;
    height: 100px;
    margin: 50px 0 0 50px;
}    



#aboutMe, #work, #contact {
    border: 1px solid black;
    height: 30vh;
}

#work{
   border: 1px solid black;
   height: 100vh;
}

#contact{
    border: 1px solid black;
    height: 20vh;
}

#aboutMe{
    display: flex;
    flex-wrap: wrap;
    background-image: url("../assests/images/AD2C042D-E2C7-4C98-9E0E-68CDCE584045_1_105_c.jpeg");
    background-position: 0px -350px ;
    background-size: cover;
    padding-bottom: 30px;

}


.section-title{
    flex-basis: 20%;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
}


.section-content{
    flex-basis: 80%;
}